body{
	font-family: Lato;
	background: #949dbc;
}

html{
	height: 80%;
}
p{
	font-size: 1.5em;
}

/**************************
***************************
    Intro/landing page
**************************
**************************/
.intro{
	position:relative;
	background-image: url("images/background.jpg");
	background-size:cover;
	background-position: center;
}

.selfie{
	margin-bottom: 20px;
}

h3 {
	color: white;
	text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
	             0px 8px 13px rgba(0,0,0,0.1),
	             0px 18px 23px rgba(0,0,0,0.1);
}

h1{
	font-weight:700;
	font-size:5em;
	text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1);
}

hr{
	width:400px;
	border-top:2px solid #f8f8f8;
	border-bottom:1px solid rgba(0,0,0,.2);
}

/**************************
***************************
    Body of the rest
**************************
**************************/

.jumbotron{
	margin-top: 70px;
	color: #5c738a;
}

.jumbo-inverse{
	margin-top: 70px;
	color: white;
	background: #949dbc;
}

.navbar-inverse{
	background: #4C405E;
}

.navbar-inverse .navbar-nav>li>a {
	color: white;
}

.navbar-inverse .navbar-brand {
	color: white;
}

/**************************
***************************
    Body of the rest
**************************
**************************/

#content{
	text-align: center;
	padding-top: 20%;
	padding-bottom:25%;
}

/**************************
***************************
       Experience
**************************
**************************/
.experience{
	padding-bottom: 20%
}

.factoid{
	color:white;
}

/**************************
***************************
        Education
**************************
**************************/

.education{
	background: white;
	background-size:cover;
	background-position: center;
	padding-bottom: 100px;
}

.degree{
	color:#5c738a;
	font-weight: 700;
	font-size:2em;
	text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
           	  	 0px 8px 13px rgba(0,0,0,0.1),
             	 0px 18px 23px rgba(0,0,0,0.1);
}

.school_name{
	color:#5c738a;
	text-shadow: 0px 0px 0px white;
	font-size:1.5em;
	display:flex;
	align-items: center;
}

.schools{
	padding-top: 15px;
	padding-bottom: 15px;
}

.outer_schools{
	position:relative;
}

/**************************
***************************
       End of Page
**************************
**************************/

.end_of_page{
	text-align: center;
	color: white !important;
	padding: 10px 10px 70px 10px;
}